# Load Data

In [9]:
import pandas as pd

# Read csv
'''
URL, 
names: (column name), 
na_values: additional str to reconginze as NaN
header: row number used as column name, 传了names,head=None
index_col: row index, specify the index of row
'''

names = ['id','thick','size_unif','shape_unif','marg','cell_size','bare',
         'chrom','normal','mit','class']
df1 = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/' +
                 'breast-cancer-wisconsin/breast-cancer-wisconsin.data',names=names,na_values='?',header=None)
df1 = df1.dropna()
df1.head(5)

,id,thick,size_unif,shape_unif,marg,cell_size,bare,chrom,normal,mit,class
0,1000025,5,1,1,1,2,1.0,3,1,1,2
1,1002945,5,4,4,5,7,10.0,3,2,1,2
2,1015425,3,1,1,1,2,2.0,3,1,1,2
3,1016277,6,8,8,1,3,4.0,3,7,1,2
4,1017023,4,1,1,3,2,1.0,3,1,1,2

In [ ]:
# Read excel
df2 = pd.read_excel('https://archive.ics.uci.edu/ml/machine-learning-databases/00342/Data_Cortex_Nuclear.xls',header=0,index_col=0)

## Deal with Missing data
[Pandas work with missing data](http://pandas.pydata.org/pandas-docs/stable/user_guide/missing_data.html)

NaN is denoted as missing data
If you want to consider inf and -inf to be “NA” in computations, you can set pandas.options.mode.use_inf_as_na = True.

### Detect missing values
- isna()
- notna()

### fill the missing data
- use mean 
``` dff = df2.fillna(df2.mean())```
- interpolation

In [ ]:
# Work with missing data

In [ ]:
a = np.array([1,2])
b = np.array([1,1,0,1])
a[b]